body {
    background-color: #f5ac36;
    font-family: 'Courier New', Courier, monospace;
}

header {
    text-align: center;
    color: #ffffff;
}

#list-container {
    margin: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

#list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#list li {
    padding: 10px;
    border-bottom: 1px solid #E0E0E0;
    transition: all 0.3s ease-in-out;
}

#list li:hover {
    cursor: pointer;
    background-color: #ffc66b;
    transform: scale(1.005);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#load-more-container {
    text-align: center;
    margin-top: 20px;
}

#load-more-btn {
    background-color: #FFFFFF;
    color: #F5A623;
    border: 2px solid #F5A623;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#load-more-btn:hover {
    background-color: #F5A623;
    color: #FFFFFF;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid rgba(245, 166, 35, 0.2);
    border-top-color: #F5A623;
    animation: spin 1s ease-in-out infinite;
    margin-right: 10px;
}

@media only screen and (max-width: 768px) {
    #list-container {
        margin: 10px;
        padding: 10px;
    }

    #load-more-container {
        margin-top: 10px;
    }

    #load-more-btn {
        padding: 5px 10px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 480px) {
    #list-container {
        margin: 5px;
        padding: 5px;
    }

    #load-more-container {
        margin-top: 5px;
    }

    #load-more-btn {
        padding: 3px 6px;
        font-size: 12px;
    }
}
#made-by {
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    margin-top: 20px;
    border-top: 1px solid #F5A623;
    padding-top: 20px;
}



